API_KEY=your_icicidirect_api_key_here
API_SECRET=your_icicidirect_api_secret_here
SESSION_TOKEN=your_daily_session_token_here

# Optional: For Telegram alerts
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# NiftyOptionsPro analytics config
CURRENT_EXPIRY=2026-04-09

# Strategy Config
OTM_PERCENTAGE=0.02

AVAILABLE_FUNDS=50000
